/vendor
/.history
/.phpunit.result.cache
/cghooks.lock
/.commit

# VitePress build output
/docs/.vitepress/dist
/docs/.vitepress/cache
/docs/.vitepress/temp
/node_modules
/coverage-report
#/clover.xml
