parameters:
    level: 5
    paths:
        - %currentWorkingDirectory%
    excludePaths:
        - vendor
        - tests
        - src/Resources/templates/VoidElement.tpl.php
        - src/Resources/templates/BlockElement.tpl.php
        - src/Resources/templates/InlineElement.tpl.php
        - src/Resources/templates/Enum.tpl.php
    scanFiles:
    earlyTerminatingMethodCalls:
    ignoreErrors:
    reportUnmatchedIgnoredErrors: false
    universalObjectCratesClasses:
