<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="Test Suite">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <coverage includeUncoveredFiles="false">
    <report>
      <clover outputFile="clover.xml"/>
    </report>
  </coverage>
  <php>
    <ini name="log_errors" value="On"/>
    <ini name="display_errors" value="On"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./src/Delegator</directory>
      <directory suffix=".php">./src/Enum</directory>
      <directory suffix=".php">./src/Helper</directory>
      <directory suffix=".php">./src/Interface</directory>
      <directory suffix=".php">./src/Mapping</directory>
      <directory suffix=".php">./src/Service</directory>
      <directory suffix=".php">./src/TemplateGenerator</directory>
      <directory suffix=".php">./src/Trait</directory>
    </include>
    <exclude>
      <directory suffix=".php">src/Command</directory>
      <directory suffix=".php">src/Resources</directory>
      <directory suffix=".php">src/Element</directory>
    </exclude>
  </source>
</phpunit>
