<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
  <coverage>
    <report>
      <clover outputFile="clover.xml"/>
    </report>
  </coverage>
  <source>
    <include>
      <directory suffix=".php">src/Delegator</directory>
      <directory suffix=".php">src/Helper</directory>
      <directory suffix=".php">src/Enum</directory>
      <directory suffix=".php">src/Trait</directory>
    </include>
  </source>
</phpunit>
