<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" convertWarningsToExceptions="false">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
    <coverage includeUncoveredFiles="false">
        <report>
            <clover outputFile="clover.xml" />
        </report>
    </coverage>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/Resources</directory>
            <directory suffix=".php">src/Element</directory>
            <directory suffix=".php">src/Enum</directory>
        </exclude>
    </source>
</phpunit>
