<html>
  <body>
    <div class="teaser">
      <h3>Teaser Component</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula.</p>
      <img src="/path/to/image.jpg" alt="Image"/>
      <a role="button" href="/path/to/page">Read more</a>
    </div>
  </body>
</html>