# This workflow will run tests using node and then publish packages to npmjs.org when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Publish to npm

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: cd templates/nextjs && yarn install --frozen-lockfile
      - run: cd templates/nextjs && yarn typecheck

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      - run: cd templates/nextjs && yarn install --frozen-lockfile
      - run: cd templates/nextjs && npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          # Note: You need to create an NPM_TOKEN secret in your repository settings
          # Generate a token at https://www.npmjs.com/settings/tokens
